<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:label="Car Rental App"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarRentalApp">
        <activity
            android:name=".activity.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FilterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RatingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EditProfileActivity"
            android:exported="false" />

        <receiver
            android:name=".utils.BookingAlarmReceiver"
            android:exported="false" />

        <activity android:name=".activity.ConfirmBookingActivity" />
        <activity android:name=".activity.BookingActivity" />
        <activity android:name=".activity.CarDetailsActivity" />
        <activity android:name=".activity.MyBookingsActivity" />
        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>